

<% if @book.favorite?(@book, current_user) %>
 <li class="like_off">
  <%= link_to 'いいね！をはずす', book_favorite_path(id: @book.id), method: :delete, remote: true, class: "like_off_btn" unless @book.user_id == current_user.id %>
 </li>
<% else %>
 <li class="like_on">
  <%= link_to 'いいね！', book_favorites_path(book_id: @book.id), method: :post, remote: true, class: "like_on_btn" unless @book.user_id == current_user.id %>
 </li>
<% end %>